<div>
    <h2 id="page-heading">
        <span>Cameras</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-camera" [routerLink]="['/camera/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Camera
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cameras?.length === 0">
        <span>No cameras found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cameras && cameras.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Make</span></th>
                    <th scope="col" ><span>Location</span></th>
                    <th scope="col" ><span>Surveillance Task</span></th>
                    <th scope="col" ><span>Ip</span></th>
                    <th scope="col" ><span>Fps</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let camera of cameras ;trackBy: trackId">
                    <td><a [routerLink]="['/camera', camera.id, 'view']">{{ camera.id }}</a></td>
                    <td>{{ camera.make }}</td>
                    <td>{{ camera.location }}</td>
                    <td>{{ camera.surveillanceTask }}</td>
                    <td>{{ camera.ip }}</td>
                    <td>{{ camera.fps }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/camera', camera.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/camera', camera.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(camera)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
