<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="camera">
            <h2><span>Camera</span> {{ camera.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Make</span></dt>
                <dd>
                    <span>{{ camera.make }}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{ camera.location }}</span>
                </dd>
                <dt><span>Surveillance Task</span></dt>
                <dd>
                    <span>{{ camera.surveillanceTask }}</span>
                </dd>
                <dt><span>Ip</span></dt>
                <dd>
                    <span>{{ camera.ip }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/camera', camera.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
