<div class="row">
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div [ngSwitch]="isConfigurator()">
                    <div *ngSwitchCase="true">
                        <p class="alert-success"> welcome configurator</p>
                        <div>
                            <a href="http://localhost:9000/camera"><button>CONFIGURE CAMERAS</button></a>
                            <a href="http://localhost:9000/sensor/"><button>CONFIGURE SENSORS</button></a>
                        </div>
                    </div>
                </div>

                <div [ngSwitch]="isAdmin()">
                    <div *ngSwitchCase="true">
                        <p class="alert-success"> welcome admin</p>
                        <div>
                            <a href="http://localhost:3000/dashboard"><button>VIEW DASHBOARD</button></a>
                            <a href="http://localhost:9000/analytics/"><button>VIEW ANALYTICS</button></a>
                            <a href="http://localhost:9000/camera/"><button>CONFIGURE CAMERAS</button></a>
                            <a href="http://localhost:9000/location/"><button>ADD LOCATIONS</button></a>
                            <a href="http://localhost:9000/surveillance-task/"><button >ADD SURVEILLANCE TASK</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


